= form_for @portfolio_item do |f|
    = f.label :title
    = f.text_field :title
    %br
    = f.label :subtitle
    = f.text_area :subtitle
    %br
    = f.label :body
    = f.text_area :body
    %br
    = f.submit