= form_for(portfolio) do |f|
  .row
    .col-md-6
      .form-group
        = f.label :title
        = f.text_field :title, class: 'form-control'
      .form-group
        = f.label :subtitle
        = f.text_field :subtitle, class: 'form-control'
    .col-md-6
      .form-group
        = f.label :body
        = f.text_area :body, class: 'form-control', rows: 13
  %hr/
  .col-md-12
    %h2 Technolgies Used:
    %div
      = f.fields_for :technologies do |technology_form|
        = render 'technology_fields', f: technology_form
      = link_to_add_association 'Add technology' , f, :technologies, class: 'btn btn-info'
    .form-group
      = f.submit 'Save Portfolio', class: 'btn btn-primary btn-block'