= form_for portfolio do |portfolio|
    = portfolio.label :title
    = portfolio.text_field :title
    %br
    = portfolio.label :subtitle
    = portfolio.text_area :subtitle
    %br
    = portfolio.label :body
    = portfolio.text_area :body
    %br
    %ul
        = portfolio.fields_for :technologies do |technology_form|
            %li
                =technology_form.label :name
                =technology_form.text_field :name
    %br
    = portfolio.submit