%tr
  %td= portfolio.title
  %td= portfolio.subtitle
  %td= portfolio.body
  %td= link_to "Link", portfolio_show_path(portfolio)
  %td= link_to "Edit", portfolio_edit_path(portfolio)
  %td= link_to 'Delete', portfolio_destroy_path(portfolio), method: :delete, data: { confirm: 'Are you sure?' }
