%h1= 'Show portfolio!'

= @portfolio.title
%br
= @portfolio.subtitle
%br
= @portfolio.body
%br
= image_tag @portfolio.main_image
%br
= image_tag @portfolio.thumb_image

%h2 Technolgies used :

- @portfolio.technologies.each do |t|
    = t.name
    %br