!!!
%html
  %head
    %title= @page_title
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1, shrink-to-fit=no", :name => "viewport"}/
  %body
    .site-wrapper
      .site-wrapper-inner
        .cover-container
          = video_tag 'frontpagevideo.mp4',
                      id: 'background',
                      loop: true,
                      autoplay: true,
                      muted: true
          = render 'shared/application_navbar'
          = source_helper("application")
          = render 'shared/home_footer'
          = yield
          = render 'shared/alert'
