!!!
%html
  %head
    %title= @page_title
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1, shrink-to-fit=no", :name => "viewport"}
    = csrf_meta_tags
    = stylesheet_link_tag    'blogs', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    = render 'shared/blog_navbar'
    = render 'shared/blog_masthead'   
    %main.container{:role => "main"}
      .row
        = yield
        = render 'shared/blog_sidebar'
      = render 'shared/blog_footer'  
